// Place all the styles related to the api/pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

@import "variables";

#root {
  overflow: hidden;
}

.fire {
  background-color: #EE8130;
}

.bug {
  background-color: #A6B91A;
}

.dragon {
  background-color:  #6F35FC;
}

.electric {
  background-color: #F7D02C;
}
.fighting {
  background-color: #C22E28;
}
.flying {
  background-color: #A98FF3;
}
.ghost {
  background-color: #735797;
}
.grass {
  background-color: #7AC74C;
}
.ground {
  background-color: #E2BF65;
}
.ice {
  background-color: #96D9D6;
}
.normal {
  background-color: #A8A77A;
}
.poison {
  background-color: #A33EA1;
}
.psychic {
  background-color: #F95587;
}
.rock {
  background-color: #B6A136;
}
.steel {
  background-color: #B7B7CE;
}
.water {
  background-color: #6390F0;
}

.PokemonIndex {
  display: flex;
  font-family: "Press Start 2P"
}

.PokemonList {
  list-style: none;
  width: 20%;
  padding: 2px;
  height: 800px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.PokemonIndex img {
  height: 100%;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.PokemonList > li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  padding: 5px;
  border-top: 1px solid black;
}

.PokemonIndex a {
  height: 30px;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
}

.PokemonDetail {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  border-radius: 20px;
  border: 6px solid black;
  margin: 10px 40px;
  color: white;
}

@keyframes offpage {
  0% {
    filter: drop-shadow(0px 0px 0px black);
    height: 300px;
  }
  100% {
    filter: drop-shadow(16px 16px 20px black);
    height: 350px;
  }
}

.PokemonDetail > img {
  height: 300px;
  max-width: 800px;
  width: auto;
  -webkit-transition: filter 1s linear;
}

.PokemonDetail > img:hover {
  animation-name: offpage;
  animation-duration: 1s;
}

.PokemonDetail > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  padding: 0px;
}

.PokemonDetail > li {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.PokemonItems {
  display: flex;
  flex-direction: column;
}

.PokemonItems div {
  display: flex;
}

.PokemonItems h2 {
  align-self: center;
}

.PokemonItems div a {
  justify-content: space-between;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  height: 150px;
}
