// Place all the styles related to the api/pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

@import "variables";

.PokemonIndex {
  display: flex;
  font-family: "Press Start 2P"
}

.PokemonList {
  list-style: none;
  padding: 2px;
  height: 500px;
  overflow: scroll;
}

.PokemonIndex img {
  height: 100%;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.PokemonList > li {
  width: 150px;
  height: 30px;
  padding: 5px;
  border-top: 1px solid black;
}

.PokemonIndex a {
  height: 30px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
}

.PokemonDetail {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  border-radius: 20px;
  border: 6px solid black;
  margin: 10px 40px;
  background-color: $red;
  color: white;
}

.PokemonDetail img {
  height: 50%;
  width: auto;
}

.PokemonDetail ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.PokemonDetail li {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}
